@font-face {
  font-family: Lato;
  src: url("./assets/fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: Beyond;
  src: url("./assets/fonts/beyond_the_mountains.ttf");
}

@import "../node_modules/react-image-gallery/styles/scss/image-gallery.scss";

body,
html {
  font-family: Lato;
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: 18.5px;
  border: none;
  background: linear-gradient(#0ceba0 0%, #00a7ff 100%);
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  transition: background 1s ease;
  &:hover {
    background: linear-gradient(#00a7ff 0%, #0ceba0 100%);
  }
  &.primary {
    background: linear-gradient(#ffa8e1 0%, #00a7ff 100%);
    &:hover {
      background: linear-gradient(#00a7ff 0%, #ffa8e1 100%);
    }
  }
}

.alert {
  color: white;
  height: 5vh;
  &.success {
    background-color: lightgreen;
  }
  &.danger {
    background-color: red;
  }
}

// END GLOBAL

header {
  min-height: 10vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  .navbar {
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding-right: 50px;
    padding-left: 50px;
    .logo {
      display: flex;
      h1 {
        margin-left: 0.5rem;
      }
    }
    .nav-links {
      justify-content: space-around;
      display: flex;

      li {
        margin-left: 1rem;
        list-style-type: none;

        a {
          color: black;
          text-decoration: none;
        }
      }
    }
    #cart {
      position: relative;

      span {
        position: absolute;
        top: -4px;
        border-radius: 50%;
        height: 20px;
        width: 20px;

        background: linear-gradient(#ffa8e1 0%, #00a7ff 100%);
        i {
          margin-left: 3px;
        }
      }
    }
  }
}

.login {
  background: linear-gradient(#0ceba0 0%, #00a7ff 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  .form-card {
    box-shadow: -4px 4px 28px -4px rgba(0, 0, 0, 0.75);
    margin: 3rem 0;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: white;
    border-radius: 1rem;
    .form-group {
      margin: 2rem 0;
      padding: 0 2rem;
      input {
        padding: 0.7rem 3rem;
        outline: none;
        border-radius: 4px;
        border: 0.1rem black solid;
        &:focus {
          border: 0.1rem #00a7ff solid;
        }
      }
    }
  }
  &.register {
    .form-card {
      height: 70vh;
    }
  }
}

.upload-product {
  height: 110vh;
  background: linear-gradient(#0ceba0 0%, #00a7ff 100%);
  align-items: center;
  flex-direction: column;
  display: flex;
  .form-section {
    margin: 2rem 0;
    padding: 0 3rem;
    background: white;
    box-shadow: -4px 4px 28px -4px rgba(0, 0, 0, 0.75);

    display: flex;
    flex-direction: column;
    align-items: center;
    form {
      padding: 2rem 0;
      .form-group {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        input {
          padding: 0.7rem 2rem;
        }
        select {
          padding: 0.7rem 1rem;
        }
        label {
          margin-bottom: 0.3rem;
        }
        textarea {
          padding: 0.7rem 2rem;
        }
        &:last-child {
          display: block;
          text-align: center;
        }
      }
    }
  }
}

.drop-zone {
  display: flex;
  justify-content: space-between;
  .drop-box {
    width: 300px;
    height: 240px;
    border: 1px lightgray solid;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 3rem;
      cursor: pointer;
    }
  }
  .drop-in {
    display: flex;
    width: 350px;
    height: 240px;
    border: 1px lightgray solid;
    margin: 0 1rem;
    overflow-x: scroll;
  }
}

.products {
  // background: linear-gradient(#0ceba0 0%, #00a7ff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .products-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  a {
    text-decoration: none;
    list-style-type: none;
    color: black;
  }

  // .single-product {
  //   box-shadow: -4px 4px 28px -4px rgba(0, 0, 0, 0.3);
  //   border-radius: 4px;
  //   background: white;
  //   width: 20rem;
  //   height: 20rem;
  //   padding: 1rem 2rem;
  //   margin: 1rem 1rem;
  //   transition: box-shadow 0.6s ease;

  //   color: black;

  //   .image-slider {
  //     img {
  //       width: 100%;
  //       height: 200px;
  //     }
  //   }
  //   &:hover {
  //     box-shadow: -4px 4px 28px -4px rgba(0, 0, 0, 0.75);
  //   }
  // }

  .single-product {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 150px;
    grid-template-areas: "image" "text";
    background: white;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin: 2rem 2rem;
    transition: box-shadow 0.6s ease;
    box-shadow: -4px 4px 28px -4px rgba(0, 0, 0, 0.3);

    .image-slider {
      grid-area: image;
      img {
        width: 100%;
        height: 210px;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
      }
    }

    .content {
      grid-area: text;
      padding: 0 1rem;
    }

    &:hover {
      box-shadow: -4px 4px 28px -4px rgba(0, 0, 0, 0.75);
    }
  }
  button {
    margin: 1rem 0;
  }
}

.filters {
  display: flex;
  width: 100%;
  background: linear-gradient(#00ff89 0%, #00a7ff 100%);

  justify-content: space-between;
  .filter-continent {
    border-radius: 18px;
    box-shadow: -4px 4px 28px -4px rgba(9, 36, 19, 0.87);

    padding: 1rem 2rem;
    margin: 1rem 2rem;
    background: white;
    &.price {
    }
  }
}

.search-filter {
  input {
    padding: 1rem 2rem;
    margin: 1rem 2rem;
    &:focus {
      box-shadow: -4px 4px 28px -4px rgba(0, 0, 0, 0.75);
    }
  }
}

.product-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .flex-row {
    width: 100%;
    display: flex;
    .slider {
      width: 100%;
      max-width: 50%;
    }
    .product-info {
      width: 100%;
      max-width: 50%;
      padding: 0 1rem;
      table {
        width: 100%;
        border-collapse: collapse;
        td,
        th {
          border: 0.1rem black solid;
          padding: 0.7rem 1.5rem;
          text-align: left;
        }
      }
      button {
        display: flex;
        margin: 1rem auto;
      }
    }
  }
}

.cart-details {
  padding: 0 4rem;

  table {
    width: 100%;
    border-collapse: collapse;
    td,
    th {
      border: 0.1rem black solid;
      padding: 0.7rem 1.5rem;
      text-align: left;

      img {
        width: 200px;
      }
    }
  }
}

.checkout-steps {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  div {
    border-bottom: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1;
    &.active {
      border-bottom: 0.3rem #0ceba0 solid;
      color: #0ceba0;
    }
  }
}

.home-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  background: url("./assets/images/home-bg.jpg") no-repeat;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  img {
    position: absolute;
    bottom: 0;
  }
  .white {
    z-index: 1;
  }
  .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(#00ff89 0%, #00a7ff 100%);
    opacity: 0.6;
  }
  .title {
    margin: 2rem 0;
    z-index: 1;
    h1 {
      text-align: center;

      font: normal 700 70px/45px Lato;
      color: white;
      text-transform: uppercase;
    }
    .beyond {
      font: normal 700 90px/45px Beyond;
      text-transform: none;
    }
  }

  .filter-box {
    background-color: white;
    z-index: 1;
    width: 60%;
    margin: 0 auto;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

    .filter-list {
      display: flex;

      div:first-child {
        border-top-left-radius: 18px;
      }
      div:last-child {
        border-top-right-radius: 18px;
      }
      .filter-item {
        width: 100%;
        padding: 2rem 0;
        text-align: center;
        cursor: pointer;
        &:hover,
        &.active {
          background: linear-gradient(#00ff89 0%, #00a7ff 100%);
        }
      }
    }
  }
}

.order {
  display: flex;
  .order-details {
    flex: 2;
    padding: 1rem 2rem;
    table {
      width: 100%;
      border-collapse: collapse;
      td,
      th {
        border: 0.1rem black solid;
        padding: 0.7rem 1.5rem;
        text-align: left;

        img {
          width: 200px;
        }
      }
    }
  }
  .order-actions {
    flex: 1;
    padding: 1rem 2rem;
    .order-shipping {
      margin: 1rem 0;
      padding: 1rem 1rem;
      box-shadow: -4px 4px 28px -4px rgba(0, 0, 0, 0.2);
    }
    .order-payment {
      margin: 1rem 0;
      padding: 1rem 1rem;
      box-shadow: -4px 4px 28px -4px rgba(0, 0, 0, 0.2);
    }
    .order-price {
      margin: 1rem 0;
      padding: 1rem 1rem;
      box-shadow: -4px 4px 28px -4px rgba(0, 0, 0, 0.2);
    }
  }
}

.tours {
  margin: 4rem 0;
  .title {
    h1 {
      font: normal 700 50px/45px Lato;
    }

    text-align: center;
    padding: 2rem 20rem;
  }
  .flex-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .tour {
      margin: 0 2rem;
      display: grid;
      grid-template-columns: 300px;
      grid-template-rows: 100px 250px 100px;
      grid-template-areas: "date" "text" "button";
      justify-items: center;
      align-items: center;
      position: relative;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      .date {
        grid-area: date;
        z-index: 1;
        color: white;
        padding: 0.3rem 4rem;
        border-radius: 18px;
        background: linear-gradient(#00ff89 0%, #00a7ff 100%);
      }
      .text {
        grid-area: text;
        text-align: center;
        z-index: 1;
        color: white;
        h1 {
          font: normal 700 50px/45px Beyond;
        }
      }
      .more {
        grid-area: button;
        z-index: 1;
      }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.4;
        background: linear-gradient(#00ff89 0%, #080f13 100%);
      }
    }
  }
}

.deluxe {
  height: 90vh;
  position: relative;
  display: flex;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  .white-delux {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.95;
    z-index: 1;
    width: 70%;
    height: 70%;
    .content {
      padding: 0 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .text {
        margin: 3rem 0;
        text-align: center;
      }
      .title {
        text-align: center;
        h1 {
          font: normal 700 50px/45px Lato;
        }
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    background: linear-gradient(#00ff89 0%, #080f13 100%);
  }
}
